.advantage-list {
  display: flex;

  &__item {
    margin-right: 30px;
    width: 270px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: #F5F4FA;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  }

  &__item:nth-child(1):before {
    background-image: url(../images/icon/advantage/advantage_antenna.svg);
  }

  &__item:nth-child(2):before {
    background-image: url(../images/icon/advantage/advantage_astronaut.svg);
  }

  &__item:nth-child(3):before {
    background-image: url(../images/icon/advantage/advantage_clock.svg);
  }

  &__item:nth-child(4):before {
    background-image: url(../images/icon/advantage/advantage_diagram.svg);
  }

  &__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  }

  &__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  }
}