.maim-information{
  padding: 94px 0;
}

.filter {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;

  color: var(--title-text-color);

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button {
    border-radius: 4px;
    padding: 6px 22px;

    border: none;
    font-family: inherit;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    cursor: pointer;

    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button:hover,
  &__button:focus {
    color: #ffffff;
    background-color: var(--accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/* -----------------------Карточки с фото--------------------- */
.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__item {
    margin-right: 28px;
    margin-bottom: 28px;
  }

  &__item:nth-child(3n) {
    margin-right: 0px;
  }

  &__item:nth-child(n+7) {
    margin-bottom: 0;
  }
}

.product__link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__link:hover,
.product__link:focus {
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__link:hover .product-box__text {
  transform: translateY(0);
}


.product-box {
  position: relative;
  overflow: hidden;

  &__text {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 64px 24px;

    font-size: 18px;
    line-height: calc(28 /18);
    letter-spacing: 0.03em;
    color: #FFFFFF;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.cards-text {
  color: var(--primary-text-color);
}
