.team-section {
  @extend .section;
  background-color: var(--second-background-color);
}

.team {
  &__title {
    @extend .title-box;
  }
}
.team-list {
  display: flex;
  justify-content: center;

  &__item {
    margin-right: 28px;

    background: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__item:last-child{
    margin-right: 0;
  }
}
.personal-information{
  text-align: center;
  padding: 30px 0;

  background-color:  var(--primary-background-color);

    &__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    text-align: center;
  }

  &__text{

    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    margin-top: 10px;
    margin-bottom: 16px;
  }
}


// .product_text_box{
//   padding: 20px 23px;
//   border: 1px solid #EEEEEE;
// }


.social-list {
  display: flex;
  justify-content: center;
  align-content: center;
    &__item{
      height: 44px;
      width: 44px;
    }
    &__item:not(:last-child){
      margin-right: 10px;
    }
    &__link {
    height: 100%;
    width: 100%;
    
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

      .social-list__icon{
      fill: #AFB1B8;
    }

    .social-list__link:hover,
    .social-list__link:focus{
      background-color: var(--accent);
    }

    .social-list__link:hover .social-list__icon,
    .social-list__link:focus .social-list__icon{
      fill: var(--primary-background-color);
    }
}