.section--work {
  padding: 0 0 94px 0;
}

.work {
  margin: 0px auto;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__title {
    @extend .title-box;
  }

  &__item{
    margin-right: 30px;
    position: relative;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__text{
    position: absolute;

    bottom: 0;
    left: 50%;
    transform: translateX(-50% );

    width: 100%;

    padding: 27px 80px;

    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;

    color: #FFFFFF;

    background-color: rgba(47, 48, 58, 0.8);
  }
}
